Django==1.6.5
MySQL-python==1.2.5
PIL==1.1.7
Pillow==2.5.3
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.13
django-celery==3.1.10
django-debug-toolbar==1.2.1
django-model-utils==2.2
django-notifications-hq==0.6.2
django-user-sessions==1.0.0
kombu==3.0.21
pytz==2014.4
redis==2.10.1
sqlparse==0.1.11
wsgiref==0.1.2
